# Miscellaneous
*.DS_Store
*.iml
/.idea
/.vscode
/.dart_tool
/.flutter-plugins
/flutter_project.iml
/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Generated.xcconfig
ios/GeneratedPluginRegistrant.*

# Android
android/.gradle
android/app/build/
android/app/generated_plugin_registrant.dart
android/local.properties

# Web
/web/build/
/web/flutter_service_worker.js
/web/main.dart.js
/web/favicon.png
/web/packages/

# macOS
macos/Flutter/Flutter.framework/
macos/Flutter/Flutter.podspec

# Windows
windows/flutter/flutter_export_environment.sh
